:root {
    --clr-light-100:#e4d9d4;
    --clr-light-200:#f0e6e2;
    --clr-accent-400:#726072;

    --clr-white-100:#FFFFFF;
    --clr-black-900:#292727;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Roboto Slab', serif;

    --transition-time-1: 700ms;    

    --pad-amount-narrow: 1rem;
    --pad-amount-wide: 2rem;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

@media (min-width: 700px){
    header,
    section {
        padding: var(--pad-amount-wide);
    }
    .split {
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
}
@media (max-width: 700px){
    header,
    section {
        padding: var(--pad-amount-narrow);
    }
    .container {
        max-width: 80%;
    }    
    .split {
        flex-direction: column;
    }
}

body{
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: clamp(11pt, 2.5vw, 1em); 
    line-height: 1.6;
    text-align: justify;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 500;
    line-height: 1;
}

h2,
h3 {
    font-size: clamp(12pt, 2.5vw, 1em); 

}

h2,
h3,
p {
    margin-bottom: 0em;
    padding: 0.75em;

}


img {
    display:block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: saturate(1.2);   
    transition-property: filter;
    transition-duration: var(--transition-time-1); 
}

h2,
h3,
.text-center {
    text-align: center;
}

.container {
    --min-width-container: 350px;
    --width-container: clamp(var(--min-width-container), 90%,800px);
    margin-inline: auto;
    width: var(--width-container);
    min-width: var(--min-width-container);
    max-height: calc(0.2 * var(--width-container));
    min-height: calc(0.2 * var(--width-container));
}

.split {
    display:flex;
    border-radius: 2em 0.2em 2em 0.2em;
    overflow: hidden;
    padding: 0em;

    transition: transform var(--transition-time-1) ease;
}

.split:hover {
    transform: scale(1.01);
    
}

.split:hover img{
    filter: saturate(1);
}

.container--narrow {
    max-width: 33rem;
}

.bg-light {background-color: var(--clr-light-200);
}
.bg-accent {
    color: var(--clr-light-100);
    background-color: var(--clr-accent-400);
}
.bg-black {
    color: var(--clr-light-100);
    background-color: var(--clr-black-900);
}

.bg-accent h2,
.bg-black h2 {
    color: var(--clr-light-200);
}